<% content_for(:main_title) do %>
  Edit <%= @form.title %>
<% end %>

<% content_for(:left_title) do %>
  <%= link_to "<< Back", forms_path %>
<% end %>

<% content_for(:left_menu) do %>
  <ul class="menu vertical">
    <% @form.items.each do |item| %>
      <li><%= link_to item.title_with_context, "#form_item_#{item.position}" %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form', form: @form %>

<%= link_to 'Show', @form %> |
<%= link_to 'Back', forms_path %>
