<% content_for(:main_title) { "Preview Form: #{@form.title}" } %>
<% content_for(:left_title) { link_to "<< Back", forms_path } %>
<% content_for(:left_menu) do %>
  <ul class="menu vertical">
    <li><%= link_to "Edit", edit_form_path(@form) %></li>
    <li><%= link_to "Respond", new_form_response_path(@form) %></li>
  </ul>
<% end %>

<div class="preview dynamic_forms">
  <p id="notice"><%= notice %></p>

  <h1>
    <%= @form.title %>
  </h1>

  <%= simple_format @form.description %>

  <%= form_for(:form) do |form| %>
    <% @form.items.each do |form_item| %>
      <% if form_item.question? %>
        <%= render partial: form_item.item, locals: { form: form } %>
      <% else %>
        <%= render form_item %>
      <% end %>
    <% end %>
  <% end %>

</div>

