<div class="dynamic_forms">
  <p id="notice"><%= notice %></p>

  <h1>
    <%= @form.title %>
  </h1>

  <%= simple_format @form.description %>

  <ol>
    <% @form.questions.each do |question| %>
      <li><%= "#{question.attribute_name}: #{question.item.title}" -%></li>
    <% end %>
  </ol>

</div>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>

