<%= form_for(@form_response) do |form| %>
  <% @form.items.each do |form_item| %>
    <% if @form_response.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@form_response.errors.count, "error") %> prohibited this form from being saved:</h2>

        <ul>
          <% @form_response.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if form_item.question? %>
      <%= render partial: form_item.item, locals: { form: form } %>
    <% else %>
      <%= render form_item %>
    <% end %>
  <% end %>

  <%= form.submit %>
<% end %>
